<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body style="background-color: #191919; color: #fff;">
<div style="text-align: center">
<form action="/login" method="post">
    <label class="name-label">Name</label>
    <input name="username" aria-label="Name" type="text" class="name" placeholder="name" aria-placeholder="name"><br>
    <label class="password-label">Password</label>
    <input name="password" aria-label="Password" type="password" class="password" placeholder="password" aria-placeholder="password">
    <br><button type="submit" value="Submit">Submit</button>
</form></div>
</body>
</html>
<!--name, email, msg-->